body{
	background: #EFECCA;
	-moz-box-shadow: inset 0 0 100px #A7A468;
	-webkit-box-shadow: inset 0 0 100px #A7A468;
	box-shadow: inset 0 0 100px #A7A468; 
}
html, body{
	height: 100%;
} 
section {
}
.header{
	background: #EFECCA;
	-moz-box-shadow: inset 0 0 100px #A7A468;
	-webkit-box-shadow: inset 0 0 100px #A7A468;
	box-shadow: inset 0 0 100px #A7A468; 
	position: fixed;
	width: 100%;
	margin-left: -20px;
}
.header p {
	background: #2C6D68;
	margin: 0;
	padding: 10px 5px;
	color: #fff;
	box-shadow: 0 1px 4px 0px rgba(0,0,0,0.5);
	z-index: 1;
	position: relative;
}
.header .retornar {
	padding: 10px 13px;
	background: #2C6D68;
	position: fixed;
	top: 14px;
	border-radius: 0 0.4em 0.4em 0;
}
.header .menu {
	padding: 10px 13px;
	background: #2C6D68;
	position: fixed;
	top: 14px;
	right: 0;
	border-radius: 0.4em 0 0 0.4em;
}
footer{
	padding: 20px 0 2px;
	text-align: center;
	color: #65ABA6;
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0;
}
header{
	margin-bottom: 0em;
}
.logo{
	background: url(../img/icon.png) no-repeat center;
	width: 96px;
	height: 96px;
	font-size: 0px;
	margin: 0px auto;
}
.overlay {
	z-index: 1;
	margin-left:-20px;
	position: absolute;
	background: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 100%;
}
.overlay.hide {
	display: none;
}
.overlay .loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -15px;
}
.content2 {
	box-shadow: inset 0px 7px 13px -6px #0A665B;
	padding-top: 10px;
}
.content2 .span12 ol li{
	color: #fefefe;
}
.span12 ol {
	font-family: "Quando";
}
.span12 ol li{
	line-height: 20px;
	padding: 10px 10px 10px 0;
	color: #747474;
}
.botao{
	display: block;
	width: 100%;
	padding: 5px;
	font-weight: ;

	font-size: 2.1rem;
	color:#AF6507;

	background-image: linear-gradient(to bottom,#F7A035, #F7C135);
	background-image: -webkit-linear-gradient( bottom,#F7A035, #F7C135);
	background-image: -o-linear-gradient( bottom,#F7A035, #F7C135);
	background-image: -moz-linear-gradient( bottom,#F7A035, #F7C135);
	background-image: -ms-linear-gradient( bottom,#F7A035, #F7C135);
	background-color: #F7A035;
	border: 0px;
	border-top: 1px solid #FFDD94;
	border-bottom: 1px solid #C98000;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	margin-bottom: 0.2em;
}
.botao-verde{
	color:#2C6D68;
	background-image: linear-gradient(to bottom,#9CBE91, #B1DEB5);
	background-image: -webkit-linear-gradient( bottom,#9CBE91, #B1DEB5);
	background-image: -o-linear-gradient( bottom,#9CBE91, #B1DEB5);
	background-image: -moz-linear-gradient( bottom,#9CBE91, #B1DEB5);
	background-image: -ms-linear-gradient( bottom,#9CBE91, #B1DEB5);
	background-color: #8BB951;
	border-top: 1px solid #C4FA93;
	border-bottom: 1px solid #4E9600;
}
.botao:active{
	background-image: linear-gradient(to bottom,#F7A035,#F7A035);
	background-image: -webkit-linear-gradient( bottom,#F7A035,#F7A035);
	background-image: -o-linear-gradient( bottom,#F7A035,#F7A035);
	background-image: -moz-linear-gradient( bottom,#F7A035,#F7A035);
	background-image: -ms-linear-gradient( bottom,#F7A035,#F7A035);
	background-color: #F7A035;
	border-top: 1px solid #C98000;
	border-bottom: 1px solid #FFDD94;
}

.botao-verde:active{
	background-image: linear-gradient(to bottom, #B1DEB5, #9CBE91);
	background-image: -webkit-linear-gradient( bottom, #B1DEB5, #9CBE91);
	background-image: -o-linear-gradient( bottom, #B1DEB5, #9CBE91);
	background-image: -moz-linear-gradient( bottom, #B1DEB5, #9CBE91);
	background-image: -ms-linear-gradient( bottom, #B1DEB5, #9CBE91);
	border-top: 1px solid #4E9600;
	border-bottom: 1px solid #C4FA93;
}

.botao .icone{
	float: left;
	padding: 0.1rem 0rem;
	border-right: 1px solid #CC871F;
	width: 1.5em;
}
.botao-verde .icone{
	border-right: 1px solid #6AA7A2;
}
.botao .texto{
	font-size: 1.1rem;
	line-height: 1.8em;
	text-align: center;
	font-family: "helvetica neue";
}
.busca{
	width: 100%;
}
.ponto-marcado {
	border: 1px solid #65ABA6;
	border-radius: 0.3em;
	padding: 0.5em;
	background: #D1DAA4;
	position: relative;
}
.linha {
	position: absolute;
	height: 8px;
	width: 1px;
	background: #65ABA6;
	top: -8px;
	left: 50%;
	display: block;
}
.sinc-btn{
	color: #2E5F6F;
}
.sinc{
	margin-right: 19px;
}
.content1 .navbar .navbar-inner .brand{
	background-image: url("../img/marca.png");
}
.quantidade {
	font-size: 1.1rem;
	padding: 6px;
	box-shadow: 0 0 26px white;
	margin-left: 6px;
	line-height: 18px;
}
.ui-loader{
	display:none;
}
.line-button {
	margin: 0 -20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	box-shadow: 0 0px 11px rgba(204, 204, 204, 0.73);
}
.shadow{
	box-shadow: inset 0px 13px 10px -9px rgba(255, 255, 255, 0.74);
}
.stops {
	padding-top: 136px;
}
.stops ul{
	list-style: none;
	margin: 0 -20px;
}
.stops ul li{
	border-bottom: 1px solid rgba(44, 109, 104, 0.33);
	padding: 8px 10px 8px 10px;
	background: white;
	display: block;
	color: #2C6D68;
}
.stops ul li:hover{
	text-decoration: none;
}
.stops ul li span.icone {
	font-size: 2em;
	padding: 0 6px 0 0;
}
.stops ul li span.distance {
	float: right;
	background: rgb(255, 255, 255);
	height: 18px;
	padding: 9px 0 0 5px;
}
.footer-stop{
	position: relative;
	padding: 20px 0;
}
.verde{
	color:#6EAC00;
}
.amarelo{
	color:#ACA500;
}
.vermelho{
	color:#AC3700;
}